body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color:rgb(247, 211, 170) ;

}

header {
  background: black;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1em;
}

header nav ul li a {
  color: #95cdf3;
  text-decoration: none;
}

section {
  padding: 2em;
  margin: 2em 0;
}

section#about {
  background: #f4f4f4;
}

section#skills {
  background: #e2e2e2;
}

section#projects {
  background: #e2e2e2;
}

section#contact {
  background: #e2e2e2;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 7px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 600px) {
  header nav ul li {
    display: block;
    margin: 0.5em 0;
  }
}

section#experience {
  background: #e2e2e2;
}


.round-image {
  width: 200px;  /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed to make it square */
  border-radius: 50%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

section#education {
  background: #e2e2e2;
}